nav {
    position: fixed;
    backdrop-filter: blur(1rem);
    border-bottom: 1px solid var(--pico-muted-border-color);
}

header {
    text-align: center;
    margin-bottom: calc(2 * var(--pico-block-spacing-vertical));
}

header > h1 {
    margin-top: calc(2.5 * var(--pico-block-spacing-vertical));
    font-size: 3rem;
}

header > p {
    color: var(--pico-muted-color);
    max-width: 60ch;
    margin: auto;
}

.skills > ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    list-style-type: none;
}

.skills > ul > img {
    min-width: 64px;
}

.skills > ul > li {
    padding: var(--pico-spacing);
    display: flex;
    flex-direction: column;
    text-align: center;
}

.projects > article {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    row-gap: var(--pico-block-spacing-vertical);
}

a {
    text-decoration: none;
}

button {
    display: flex;
    align-items: center;
}

button > img {
    margin-right: 0.5rem;
}

@media (width < 768px) {
    .projects > article {
        flex-direction: column;
    }
}

